- name: Play for downloading tcl_utils
  hosts: localhost
  tasks:
    - name: Installiere System-Pakete
      ansible.builtin.apt:
        name: [unzip]
        state: present

    - name: Details des neuesten Releases abrufen
      ansible.builtin.uri:
        url: "https://api.github.com/repos/dietWall/openocd-tcl-controller/releases"
        headers:
          Accept: "application/vnd.github.v3+json"
          Authorization: Bearer {{ lookup('ansible.builtin.env', 'TCL_UTILS_TOKEN') }}
          X-GitHub-Api-Version: 2022-11-28
        return_content: true
      register: latest_release_info

    - name: Extract download_link
      ansible.builtin.set_fact:
        download_link: "{{ latest_release_info | community.general.json_query('json[0].assets[0].id') }}"

    - name: Download archive
      ansible.builtin.get_url:
        url: "https://api.github.com/repos/dietWall/openocd-tcl-controller/releases/assets/{{ download_link }}"
        headers:
          Accept: "application/octet-stream"
          Authorization: Bearer {{ lookup('ansible.builtin.env', 'TCL_UTILS_TOKEN') }}
          X-GitHub-Api-Version: 2022-11-28
        dest: /home/dw/code/stm32hal_cmake/repo_config/tmp_download
        mode: "0644"
